body, html{ height: 100%; background-color:  #282c34; color: #fff; }

a{ text-decoration: none; }

*,  :before, :after{ box-sizing: border-box; padding: 0; margin: 0; }

.wrapper{
  padding: 20px;
}

